.status_of_animal .dropdown-container{
  min-width: 200px !important;
}

.dropdown-container{
  min-height: 48px;
  min-width: 130px;
  margin-right: 5px;
  border-color: antiquewhite;
}

.dropdown-heading-value {
  padding-top: 10px;
}

.dropdown-heading-dropdown-arrow.gray{
  padding-top: 10px !important;
}