.signInGoogleButton {
  border-radius: 20px !important;
}

.signOutGoogleButton {
  border-radius: 20px !important;
}

.signInGoogleButton > div{
  display: none !important;
}

.signOutGoogleButton > div{
  display: none !important;
}

.signOutGoogleButton > span{
  padding: 10px !important;
}

.signInGoogleButton > span{
  padding: 10px !important;
}

.refugioAppTitle {
  margin-left: 10px !important;
  margin-top: 20px !important;
  position: absolute !important;
  color: white !important;
  align-items: 'center' !important;
}